/*----------------------- Global Styles ---------------------*/

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', 'sans-serif';
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


h1,
h2,
h3,
p {
    word-spacing: 3px;
    letter-spacing: 1px;
    line-height: 1.6;

}

h1, .banner-text {
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 240%;
    text-align: center;
    color: #383838;
}

h1:after {
    display: block;
    height: 2px;
    background-color: #02a81d;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h2 {
    font-size: 200%;
    text-align: center;
    margin-bottom: 100px;
    color: #414141;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    color: #4b4b4b;
}

p {
    color: #8a8a8a;
}


section {
    padding: 30px 0;
}

.clamp-1280 {
    max-width: 1280px;
    margin: 0 auto;
}



/*----------------------------- Header --------------------*/

.header-section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    color: #000000;
    overflow: hidden;
    padding: 40px 0;
}

.header-list {
    order: 2;
    justify-self: flex-end;
}

.header-img {
    padding: 10px;
    order: 1;
    text-align: center;
    width: 37%;
}

.header-logo {
    width: 100%;
    max-width: 60%;
    height: auto;
}

/*--------------------------------- Menu ----------------------*/

.menu {
    list-style: none;
    display: flex;
    text-decoration: none;
    float: right;
    margin-right: 90px;
    flex-wrap: nowrap;
}

.menu li {
    color: #000000;
    display: inline-block;
    margin-right: 50px;
    flex-shrink: 0;
}

.menu li a:link,
.menu li a:visited {
    color: #000000;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom, font-size 0.5s;
    padding: 5px 0;
    font-size: 100%;
}

.menu li a:hover,
.menu li a:active {
    border-bottom: 2px solid #02e61f;
    font-size: 110%;
}

/*-------------------------------------------- Banner ----*/

.banner {
    background-image: url("../assets/banner-bg.jpeg");
    background-size: cover;
    background-position: center top;
    height: 100vh;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text {
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 240%;
    text-align: center;
    color: #ffffff;
}



/*-------------------------------------------- About Me ----*/

.flex-about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img-container {
    padding: 0 80px 0 0;
}

.about-img {
    width: auto;
    height: auto;
}

.about-text {
    letter-spacing: 1px;
    word-spacing: 4px;
    line-height: 145%;

}

/*-------------------------------------------- Collabs ----*/

.collaborations-section {
    background-color: #fcfcfc;
}

.flex-collab {
    display: flex;

}

.flex-collab div {
    margin: 0 30px;
    text-align: justify;
}

.collab-info {
    color: #838383;
    font-size: 80%;
}




/*-------------------------------------------- Services ----*/


.services-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.servicesImg {text-align: center; }

.services-offering { padding: 0 60px; flex: 1; }

.services-image {
    width: 200px;
    padding: 30px 0
}


/*-------------------------------------------- Workshops ----*/


.workshop-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.workshop-offering { padding: 0 60px; flex: 1; }



/*-------------------------------------------- Contact ----*/




/*-------------------------------------------- Rates & Bookings ----*/

